{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
  "DefaultConnection": "Server=localhost\\SQLEXPRESS;Database=DocTrackerDB;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "Jwt": {
    "Key": "YourSuperSecretKeyThatIsAtLeast32CharactersLong!",
    "Issuer": "DoctrackAPI",
    "Audience": "DoctrackClient"
  },
  "AllowedHosts": "*",
  "Email": {
    "SmtpHost": "smtp-relay.brevo.com",
    "SmtpPort": 587,
    "Username": "a81f69001@smtp-brevo.com",
    "Password": "xsmtpsib-9017d3baed3da36c45492b4d640191e54e1603fec78285cfb101e89df4e97a67-CApLh3E4IMmmxWtW",
    "FromEmail": "gideonayao29@gmail.com",
    "FromName": "DocTrack System"
  }
}
